.report-editor {
  background-color: #1c1c1e;
  outline: 1px solid #323237;
  position: fixed;
  right: 10px;
  box-shadow: -5px 30px 40px 5px rgba(0, 0, 0, 0.5);
  border-radius: 13px;
  padding: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  transform: scale(0.98);
  transform-origin: right top;
  box-sizing: border-box;
  z-index: 1000;
}
@media screen and (max-width: 480px){
  .report-editor {
    width: 100vw;
    bottom: 0;
    right: 0;
    margin: 0;
    height: max-content;
    margin: 0 -0 0 0;
    border-radius: 0;
    border-top-left-radius: 18px;
    border-top-left-radius: 18px;
    }
}